dietfacts/__pycache__/__init__.cpython-310.pyc
dietfacts/models/__pycache__/__init__.cpython-310.pyc
dietfacts/models/__pycache__/dietfacts.cpython-310.pyc
hospital_management/__pycache__/__init__.cpython-310.pyc
hospital_management/models/__pycache__/__init__.cpython-310.pyc
hospital_management/models/patient/__pycache__/__init__.cpython-310.pyc
hospital_management/models/patient/__pycache__/patient.cpython-310.pyc
